<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="hyva_config_generate_before">
        <observer name="MageHx_MahxCheckoutOffline::register_module"
                  instance="MageHx\MahxCheckoutOffline\Observer\RegisterModuleForHyvaConfig"/>
    </event>
    <event name="mahxcheckout_place_order_save_payment_before">
        <observer name="MageHx_MahxCheckoutOffline::update_purchase_order"
                  instance="MageHx\MahxCheckoutOffline\Observer\UpdatePurchaseOrderPaymentMethod"/>
    </event>
</config>
